# Archivos de entorno virtual
venv/
instance/

# Ignorar todo dentro de la carpeta uploads
/app/static/uploads/*

# Pero no ignorar la carpeta uploads en sí
/app/static/uploads/

# Archivos de compilación de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Archivos de configuración sensibles
.env

# Archivos de logs
*.log

# Archivos temporales de editor (por ejemplo, VS Code)
.vscode/

# Archivos temporales de sistema operativo (por ejemplo, macOS)
.DS_Store

# Archivos de pruebas
tests/__pycache__/
tests/*.pyc

# Otros archivos innecesarios
*.sqlite
