
{% extends 'base.html' %}
{% block title %}
Cambiar contraseña
{% endblock %}
{% block content %}
<section class="register section">
  <div class="register__container container">
    <form method="POST" class="register__form">
      {{ form.hidden_tag() }}
      <h2 class="section__title" >Cambiar contraseña</h2>
      <div class="register__group">
        {{ form.current_password.label(class="register__label") }}
        {{ form.current_password(size=20, class="register__input") }}
      </div>
      <div class="register__group">
        {{ form.new_password.label(class="register__label") }}
        {{ form.new_password(class="register__input") }}
      </div>
      <div class="register__group">
        {{ form.confirm_password.label(class="register__label") }}
        {{ form.confirm_password(class="register__input") }}
      </div>
      {{ form.submit(class="register__button register__button--primary")}}
    </form>
  </div>
</section>
{% endblock %}