{% extends 'base.html' %}
{% block title %}Lista de proveedores{% endblock %}
{% block content %}
<section class="providers section">
  <h1 class="section__title">Lista de Proveedores</h1>
  <div class="table-container container">
      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Acción</th>
              </tr>
          </thead>
          <tbody>
              {% for provider in providers %}
              <tr>
                  <td>{{ provider.id }}</td>
                  <td>{{ provider.name }}</td>
                  <td>{{ provider.email }}</td>
                  <td>
                      <form action="{{ url_for('generate_report') }}" method="GET">
                          <input type="hidden" name="provider_id" value="{{ provider.id }}">
                          <button type="submit" class="dish__button dish__button--primary">Generar Reporte</button>
                      </form>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</section>
{% endblock %}